<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home Page</title>
    <style>
        .mask {
            height: 600px;
            width: 100vw;
            overflow: hidden;
            background: #C33764;
            background: -webkit-linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url("https://www.dufferincounty.ca/sites/default/files/2019-01/forest.jpg");
            background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url("https://www.dufferincounty.ca/sites/default/files/2019-01/forest.jpg"); /* The least supported option. */
        }
    </style>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

</head>

<body>
<header>
    <div th:insert="fragments/header :: header"></div>

    <div class="mask rgba-black-strong">
        <div class="container-fluid d-flex align-items-center justify-content-center h-100">
            <div class="row d-flex justify-content-center text-center">
                <div class="col-md-10">
                    <h2 class="display-4 font-weight-bold text-white pt-5 mb-2">Derek's learning never stops!</h2>
                    <hr class="hr-light">
                    <h4 class="text-white my-4">Served ONE loyal customer to date, with an average rating of 10/10!</h4>
                    <button type="button" class="btn btn-outline-white text-white">Do NOT Read More <i
                            class="fa fa-book ml-2"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

</header>
<main class="mt-5">
    <div class="container">
        <section id="best-features" class="text-center">
            <h2 class="mb-5 font-weight-bold">Only the best library features!</h2>
            <div class="row d-flex justify-content-center mb-4">
                <div class="col-md-8">
                    <p class="grey-text">"The older I grow, the more I realize how terribly difficult it is for people
                        to understand each other, and I think that what misleads one is the fact that they all look so
                        much like each other. If some people looked like elephants and others looked like cats, or fish,
                        or so on, one would not expect them to understand each other and things would look much more
                        like what they really are."   ~ Ludwig Wittgenstein</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-5">
                    <i class="fa fa-camera-retro fa-4x orange-text"></i>
                    <h4 class="my-4 font-weight-bold">Experience</h4>
                    <p class="grey-text">Derek has a LOT of experience reading!</p>
                </div>
                <div class="col-md-4 mb-1">
                    <i class="fa fa-heart fa-4x orange-text"></i>
                    <h4 class="my-4 font-weight-bold">Quality</h4>
                    <p class="grey-text">Derek only reads the highest quality books!</p>
                </div>
                <div class="col-md-4 mb-1">
                    <i class="fa fa-bicycle fa-4x orange-text"></i>
                    <h4 class="my-4 font-weight-bold">Seamless</h4>
                    <p class="grey-text">Seamless hassle-free process helps Derek with ease!</p>
                </div>
            </div>

        </section>
    </div>
</main>
</body>
</html>